{% extends 'base.html' %}

{% block title %}
Settings
{% endblock %}

{% block content %}
<div class="container">
  <form action="#" method="post">
    <div class="form-group">
      <label for="oldPassword">Old password:</label>
      <input type="text" name="oldPassword" id="oldPassword" class="form-control"><br/><br/>

       <label for="oldPassword">New password:</label>
      <input type="text" name="newPassword" id="newPassword" class="form-control"><br/><br/>

    <label for="oldPassword">Confirm password:</label>
      <input type="text" name="passwordConfirm" id="newPassword" class="form-control">
    </div>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Update">
    </div>
  </form>
</div>

<style>
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8;
  }

  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  input[type="text"] {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  } 
input[type="submit"]:hover {
    background-color: #0062cc;
  }
</style>
{% endblock %}